@charset "UTF-8";
/* Definimos las Custom properties */
/* (Opcional) Las adaptamos al modo oscuro */
/* (Opcional) Configuramos si un usuario ha activado el modo alto contraste. (WD) */
/* (Opcional) Desactivamos los animations en el caso de que el usuario haya configurado el modo sin animation */
@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important; } }
/* Reseteamos los margin y paddings de todas las etiquetas */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline; }

*::before, *::after {
  display: block; }

/* Evitamos problemas con las imagenes */
img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* (Opcional) */
  object-fit: cover;
  /* (Opcional) */
  object-position: center center; }

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit; }

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline; }

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none; }

/* (Opcional) Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
  height: 100%;
  position: relative; }

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit; }

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

/* (Opcional) Configuramos el texto que seleccionamos */
::selection {
  background-color: #BF3131;
  color: #FFFAFA; }

/* Nivelamos problemas de tipografías y colocación de formularios */
form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  outline: none;
  /* (Opcional) */
  appearance: none; }

input::placeholder {
  font-family: "Lato", sans-serif; }

/* Reseteamos las tablas */
table, tr, td {
  border-collapse: collapse;
  border-spacing: 0; }

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor; }

/* Configuramos la tipografía para toda la web */
body {
  height: 100%;
  position: relative;
  font-size: 100%;
  font-size: 1.125em;
  font-family: "Lato", sans-serif;
  color: #FFFAFA;
  background-color: #090808;
  /* (Opcional) */
  hyphens: auto;
  /* (Opcional) */
  font-smooth: always;
  /* (Opcional) */
  -webkit-font-smoothing: antialiased;
  /* (Opcional) */
  -moz-osx-font-smoothing: grayscale; }

.dividerSection .h2, .dividerHome .h2, .hero__h1 {
  font-size: clamp(42px, calc(0.0334821429 * (100vw - 640px) + 42px), 72px);
  font-weight: 700; }

.imagine__h2, .needUs__h2, .map__h2, .networks__h2 {
  font-size: clamp(32px, calc(0.0111607143 * (100vw - 640px) + 32px), 42px);
  font-weight: 700;
  text-align: center; }

.dividerSection .button, .dividerHome .button, .header__button, .hero__button, .networks__button {
  width: 11.666666666666666em;
  padding: 0.8888888888888888em 1.3333333333333333em;
  color: #FFFAFA;
  border-radius: 1.3333333333333333em;
  font-weight: 700;
  box-shadow: 0 0.5em 1.5em rgba(152, 47, 47, 0.25);
  cursor: pointer;
  transition: 0.3s;
  background: #BF3131; }
  .dividerSection .button:hover, .dividerHome .button:hover, .header__button:hover, .hero__button:hover, .networks__button:hover {
    opacity: .8; }

.dividerSection .container, .dividerHome .container, .header__container, .hero__container, .footer__container, .imagine__container, .needUs__container, .map__container, .networks__container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1536px;
  padding: clamp(70px, calc(0.0334821429 * (100vw - 640px) + 70px), 100px) clamp(35px, calc(0.0881696429 * (100vw - 640px) + 35px), 114px) clamp(110px, calc(0.0334821429 * (100vw - 640px) + 110px), 140px) clamp(35px, calc(0.0881696429 * (100vw - 640px) + 35px), 114px); }

.imagine__simpleCard, .needUs__simpleCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.4444444444em;
  text-align: center; }
  .imagine__simpleCard .circle, .needUs__simpleCard .circle {
    width: 2.7777777777777777em;
    height: 2.7777777777777777em;
    padding: 0.7777777777777778em 0.6111111111111112em;
    border-radius: 50%;
    border: 1px solid #FFFAFA;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0; }

.networks__li {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  gap: 0.8888888889em; }
  .networks__li .circle {
    background-color: #CC5A5A;
    border-radius: 50%;
    width: 2.7777777777777777em;
    height: 2.7777777777777777em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0; }
  .networks__li .img {
    width: 1.1111111111111112em; }
  .networks__li .div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 0.4444444444em; }
  .networks__li .h3 {
    color: #CC5A5A;
    font-weight: 700;
    font-size: 1.3333333333333333em; }
  .networks__li .p {
    font-size: 0.8888888888888888em; }
  @media (width < 640px) {
    .networks__li {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center; }
      .networks__li .div {
        align-items: center; } }

.dividerSection, .dividerHome {
  text-align: center;
  background-color: #141414; }
  .dividerSection .container, .dividerHome .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.3333333333em; }
  .dividerSection .div, .dividerHome .div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.8888888889em;
    padding: 0 clamp(2.2222222222em, calc(0.0070684524 * (100vw - 640px) + 2.2222222222em), 8.5555555556em);
    width: 60%; }
  .dividerSection .button, .dividerHome .button {
    background-color: #BF3131;
    width: 11.666666666666666em; }
  @media (width < 1280px) {
    .dividerSection .div, .dividerHome .div {
      width: 100%; } }

.header__container {
  padding: 0.8888888889em clamp(35px, calc(0.0881696429 * (100vw - 640px) + 35px), 114px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0; }
.header__logo {
  width: 4.722222222222222em; }
.header__div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.1111111111em; }
.header__ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.7777777778em; }
.header__a {
  font-weight: 700;
  transition: 0.3s; }
  .header__a:hover {
    color: #BF3131; }
.header__button {
  width: clamp(120px, calc(0.1004464286 * (100vw - 640px) + 120px), 210px);
  background: #BF3131; }
.header__language {
  position: relative; }
.header__combobox {
  background-color: #414141;
  border-radius: 0.8888888888888888em;
  padding: 0.3333333333333333em 0.4444444444444444em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.2222222222em;
  color: #CC5A5A;
  cursor: pointer;
  position: relative;
  z-index: 2; }
.header__collapse {
  position: absolute;
  left: 50%;
  width: 45px;
  height: 0px;
  transition: 0.3s;
  overflow: hidden;
  transform: translateY(8px) translateX(-50%); }
  .header__collapse--open {
    height: 72px; }
.header__li {
  background-color: #414141; }
  .header__li:nth-child(1) {
    border-radius: 16px 16px 0 0; }
  .header__li:nth-child(2) {
    border-radius: 0 0 16px 16px; }
.header__box {
  background-color: #414141;
  border-radius: 0.8888888888888888em;
  padding: 0.3333333333333333em 0.4444444444444444em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  opacity: 0.5;
  transition: 0.3s; }
  .header__box:hover {
    opacity: 1; }
.header__flags {
  width: 24px; }
@media (width < 768px) {
  .header__container {
    justify-content: center; }
  .header__div {
    display: none; } }

.hero__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0; }
.hero__col1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1.7777777778em; }
.hero__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1.3333333333em; }
.hero__span {
  font-size: 1.2222222222222223em;
  color: #8E8E8E; }
.hero__p {
  font-size: 1.2222222222222223em; }
.hero__picture {
  min-width: 16.666666666666668em; }
@media (width < 768px) {
  .hero__container {
    flex-direction: column-reverse; }
  .hero__picture {
    max-width: 16.666666666666668em;
    min-width: unset; } }

.footer {
  background: linear-gradient(135deg, #bf3131 0%, #692e2e 100%); }
  .footer__group {
    display: grid;
    gap: 11.1111111111em;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: auto;
    padding: 0.5555555556em clamp(40px, calc(0.0412946429 * (100vw - 640px) + 40px), 77px); }
  .footer__col {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 0.8888888889em; }
  .footer__b {
    font-weight: 600; }
  .footer__logo {
    width: 4.722222222222222em; }
  .footer__p {
    font-size: 0.7777777777777778em; }
  .footer__ul {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 0.8888888889em; }
  .footer__a {
    font-size: 0.8888888888888888em;
    border-bottom: 1px solid transparent;
    transition: 0.3s; }
    .footer__a:hover {
      border-bottom: 1px solid #FFFAFA; }
  .footer__email {
    border-radius: 1.3333333333333333em;
    border: 1px solid #FFFAFA;
    padding: 0.5555555555555556em;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 0.5555555556em;
    width: 100%; }
  .footer__icon {
    width: 1em; }
  .footer__input {
    width: 100%;
    font-size: 0.7777777777777778em; }
    .footer__input::placeholder {
      color: white; }
  @media (width < 1280px) {
    .footer__group {
      display: grid;
      gap: 2.7777777778em;
      grid-template-columns: auto auto;
      grid-template-rows: auto auto; }
    .footer__col:nth-child(1) {
      grid-column: span 2;
      text-align: center;
      align-items: center; } }
  @media (width < 640px) {
    .footer__group {
      display: grid;
      gap: 2.7777777778em;
      grid-template-columns: auto;
      grid-template-rows: auto auto auto;
      text-align: center; }
    .footer__col {
      align-items: center; }
      .footer__col:nth-child(1) {
        grid-column: unset; }
    .footer__ul {
      align-items: center; } }

.imagine {
  background: linear-gradient(135deg, #bf3131 0%, #692e2e 100%); }
  .imagine__container {
    display: flex;
    flex-direction: column;
    justify-content: unset;
    align-items: center;
    gap: 3.1111111111em; }
  .imagine__div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    gap: 0;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 clamp(40px, calc(0.0669642857 * (100vw - 640px) + 40px), 100px); }
  .imagine__simpleCard {
    width: 11.11111111111111em; }
  @media (width < 1280px) {
    .imagine__div {
      justify-content: center;
      gap: 3.888888888888889em; } }

.needUs {
  background: linear-gradient(135deg, #bf3131 0%, #692e2e 100%); }
  .needUs__container {
    display: flex;
    flex-direction: column;
    justify-content: unset;
    align-items: center;
    gap: 1.7777777778em; }
  .needUs__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.8888888889em; }
  .needUs__p {
    text-align: center;
    font-size: 1.1111111111111112em;
    width: 80%; }
  .needUs__div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    gap: 0;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 clamp(40px, calc(0.0669642857 * (100vw - 640px) + 40px), 100px); }
  .needUs__simpleCard {
    width: 11.11111111111111em; }
  @media (width < 1280px) {
    .needUs__div {
      justify-content: center;
      gap: 3.888888888888889em; }
    .needUs__p {
      width: 100%; } }

.dividerHome {
  background: linear-gradient(135deg, #bf3131 0%, #692e2e 100%); }
  .dividerHome .button {
    background-color: #FFFAFA;
    color: #BF3131; }

.map__container {
  display: grid;
  gap: 1.7777777778em;
  grid-template-columns: 1.3fr 1fr;
  grid-template-rows: auto;
  align-items: center; }
.map__div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1.7777777778em; }
.map__h2 {
  text-align: start;
  color: #CC5A5A; }
.map__ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1.3333333333em; }
.map__li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.8888888889em; }
.map__icon {
  width: 2.111111111111111em; }
.map__b {
  color: #CC5A5A; }
.map__p {
  font-size: 1.1111111111111112em; }
@media (width < 768px) {
  .map__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.7777777778em;
    text-align: center; }
  .map__img {
    max-width: 450px; }
  .map__div {
    align-items: center; }
  .map__ul {
    align-items: center; }
  .map__li {
    flex-direction: column; }
  .map__p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px; } }

.networks__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3.1111111111em; }
.networks__title {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 0.8888888889em; }
.networks__h2 {
  background-image: linear-gradient(135deg, #bf3131 0%, #692e2e 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800; }
.networks__content {
  width: 100%;
  display: grid;
  gap: 0;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto; }
.networks__div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 3.1111111111em; }
.networks__ul {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1.7777777778em; }
.networks__button {
  background: linear-gradient(135deg, #bf3131 0%, #692e2e 100%); }
.networks__picture {
  object-fit: cover;
  height: 38.888888888888886em;
  overflow: hidden;
  position: relative; }
.networks__img {
  opacity: 0.4;
  transform: scaleX(-1);
  max-width: unset;
  width: auto;
  height: 100%;
  object-fit: cover;
  position: absolute;
  right: 0;
  top: 0; }
@media (width < 1024px) {
  .networks__picture {
    position: absolute;
    z-index: -1; }
  .networks__img {
    width: 100%;
    height: auto; }
  .networks__content {
    grid-template-columns: 1fr;
    position: relative;
    overflow: hidden; } }
@media (width < 640px) {
  .networks__picture {
    height: 100%; }
  .networks__img {
    width: auto;
    height: 100%;
    opacity: 0.2; }
  .networks__div {
    align-items: center; }
  .networks__ul {
    justify-content: center;
    align-items: center; } }

/*# sourceMappingURL=style.css.map */
