@charset "UTF-8";
/* Definimos las Custom properties */
/* (Opcional) Las adaptamos al modo oscuro */
/* (Opcional) Configuramos si un usuario ha activado el modo alto contraste. (WD) */
/* (Opcional) Desactivamos los animations en el caso de que el usuario haya configurado el modo sin animation */
@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important; } }
/* Reseteamos los margin y paddings de todas las etiquetas */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline; }

*::before, *::after {
  display: block; }

/* Evitamos problemas con las imagenes */
img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* (Opcional) */
  object-fit: cover;
  /* (Opcional) */
  object-position: center center; }

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit; }

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline; }

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none; }

/* (Opcional) Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
  height: 100%;
  position: relative; }

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit; }

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

/* (Opcional) Configuramos el texto que seleccionamos */
::selection {
  background-color: #BF3131;
  color: #FFFAFA; }

/* Nivelamos problemas de tipografías y colocación de formularios */
form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  outline: none;
  /* (Opcional) */
  appearance: none; }

input::placeholder {
  font-family: "Lato", sans-serif; }

/* Reseteamos las tablas */
table, tr, td {
  border-collapse: collapse;
  border-spacing: 0; }

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor; }

/* Configuramos la tipografía para toda la web */
body {
  height: 100%;
  position: relative;
  font-size: 100%;
  font-size: 1.125em;
  font-family: "Lato", sans-serif;
  color: #FFFAFA;
  background-color: #090808;
  /* (Opcional) */
  hyphens: auto;
  /* (Opcional) */
  font-smooth: always;
  /* (Opcional) */
  -webkit-font-smoothing: antialiased;
  /* (Opcional) */
  -moz-osx-font-smoothing: grayscale; }

.dividerSection .h2, .dividerHome .h2, .hero__h1, .comment__h2, .contact__h2 {
  font-size: clamp(42px, calc(0.0334821429 * (100vw - 640px) + 42px), 72px);
  font-weight: 700; }

.department1 .h2, .department2 .h2, .department3 .h2, .department4 .h2, .department1 .h3, .department2 .h3, .department3 .h3, .department4 .h3, .mission .h2, .choose .h2, .imagine__h2, .needUs__h2, .map__h2, .networks__h2, .why__h2, .revolutionize__h2, .discover__h2, .impact__h2, .heroSection__h2 {
  font-size: clamp(32px, calc(0.0111607143 * (100vw - 640px) + 32px), 42px);
  font-weight: 700;
  text-align: center; }

.dividerSection .button, .dividerHome .button, .header__button, .hero__button, .networks__button, .why__button, .discover__button, .comment__button, .contact__button {
  width: 11.666666666666666em;
  padding: 0.8888888888888888em 1.3333333333333333em;
  color: #FFFAFA;
  border-radius: 1.3333333333333333em;
  font-weight: 700;
  box-shadow: 0 0.5em 1.5em rgba(152, 47, 47, 0.25);
  cursor: pointer;
  transition: 0.3s;
  background: #BF3131; }
  .dividerSection .button:hover, .dividerHome .button:hover, .header__button:hover, .hero__button:hover, .networks__button:hover, .why__button:hover, .discover__button:hover, .comment__button:hover, .contact__button:hover {
    opacity: .8; }

.dividerSection .container, .dividerHome .container, .mission .container, .choose .container, .header__container, .hero__container, .footer__container, .imagine__container, .needUs__container, .map__container, .networks__container, .why__container, .revolutionize__container, .department1__container, .department2__container, .department3__container, .department4__container, .discover__container, .impact__container, .comment__container, .contact__container, .heroSection__container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1536px;
  padding: clamp(70px, calc(0.0334821429 * (100vw - 640px) + 70px), 100px) clamp(35px, calc(0.0881696429 * (100vw - 640px) + 35px), 114px) clamp(110px, calc(0.0334821429 * (100vw - 640px) + 110px), 140px) clamp(35px, calc(0.0881696429 * (100vw - 640px) + 35px), 114px); }

.department1 .div, .department2 .div, .department3 .div, .department4 .div, .imagine__simpleCard, .needUs__simpleCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.4444444444em;
  text-align: center; }
  .department1 .div .circle, .department2 .div .circle, .department3 .div .circle, .department4 .div .circle, .imagine__simpleCard .circle, .needUs__simpleCard .circle {
    width: 2.7777777778em;
    height: 2.7777777778em;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0;
    border: 1px solid #CC5A5A;
    padding: 0.7777777777777778em 0.6111111111111112em;
    border: 1px solid #FFFAFA; }

.networks__li {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  gap: 0.8888888889em; }
  .networks__li .circle {
    width: 2.7777777778em;
    height: 2.7777777778em;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0;
    border: 1px solid #CC5A5A;
    background-color: #CC5A5A; }
  .networks__li .img {
    width: 1.1111111111111112em; }
  .networks__li .div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 0.4444444444em; }
  .networks__li .h3 {
    color: #CC5A5A;
    font-weight: 700;
    font-size: 1.3333333333333333em; }
  .networks__li .p {
    font-size: 0.8888888888888888em; }
  @media (width < 640px) {
    .networks__li {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center; }
      .networks__li .div {
        align-items: center; } }

.dividerSection, .dividerHome {
  text-align: center;
  background-color: #141414; }
  .dividerSection .container, .dividerHome .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.3333333333em; }
  .dividerSection .div, .dividerHome .div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.8888888889em;
    padding: 0 clamp(2.2222222222em, calc(0.0070684524 * (100vw - 640px) + 2.2222222222em), 8.5555555556em);
    width: 60%; }
  .dividerSection .button, .dividerHome .button {
    background-color: #BF3131;
    width: 11.666666666666666em; }
  @media (width < 1280px) {
    .dividerSection .div, .dividerHome .div {
      width: 100%; } }

.why__li {
  border: 1px solid #FFFAFA;
  padding: 2.2222222222222223em 1.3333333333333333em;
  border-radius: 1.3333333333333333em;
  max-width: 18.333333333333332em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 16px; }
  .why__li .div {
    width: 100%;
    color: #CC5A5A;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.8888888889em; }
  .why__li .h3 {
    font-size: 1.3333333333333333em; }
  .why__li .span {
    font-size: clamp(32px, calc(0.0111607143 * (100vw - 640px) + 32px), 42px); }
  @media (width < 640px) {
    .why__li {
      text-align: center; }
      .why__li .div {
        flex-direction: column-reverse;
        justify-content: center; } }

.revolutionize__li, .discover__li {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 14px;
  text-align: center;
  height: 19.666666666666668em;
  width: 15.555555555555555em;
  border-radius: 1.3333333333333333em;
  border: 1px solid #FFFAFA;
  padding: 1.3333333333333333em 0.8888888888888888em; }
  .revolutionize__li .circle, .discover__li .circle {
    width: 2.7777777778em;
    height: 2.7777777778em;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0;
    border: 1px solid #CC5A5A;
    border: 1px solid #BF3131; }
  .revolutionize__li .icon, .discover__li .icon {
    width: 1.1111111111111112em; }
  .revolutionize__li .div, .discover__li .div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.4444444444em; }
  .revolutionize__li .h3, .discover__li .h3 {
    font-size: 1.3333333333333333em;
    color: #CC5A5A;
    font-weight: 700; }
  .revolutionize__li .p, .discover__li .p {
    font-size: 0.8888888888888888em; }
  @media (width < 640px) {
    .revolutionize__li, .discover__li {
      width: 100%;
      max-width: 15.555555555555555em; } }

.department1 .row, .department2 .row, .department3 .row, .department4 .row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.7777777778em;
  width: 100%; }
.department1 .title, .department2 .title, .department3 .title, .department4 .title {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.4444444444em; }
.department1 .h2, .department2 .h2, .department3 .h2, .department4 .h2 {
  background-image: linear-gradient(90deg, #bf3131 0%, #692e2e 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800; }
.department1 .h3, .department2 .h3, .department3 .h3, .department4 .h3 {
  background-image: linear-gradient(90deg, #bf3131 0%, #692e2e 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
  font-size: 1.7777777777777777em;
  padding-bottom: 0.6666666666666666em;
  border-bottom: 1px solid #BF3131; }
.department1 .p, .department2 .p, .department3 .p, .department4 .p {
  font-size: 1.1111111111111112em; }
  .department1 .p--2, .department2 .p--2, .department3 .p--2, .department4 .p--2 {
    font-size: 0.8888888888888888em; }
  .department1 .p--3, .department2 .p--3, .department3 .p--3, .department4 .p--3 {
    font-size: 1em; }
  .department1 .p--4, .department2 .p--4, .department3 .p--4, .department4 .p--4 {
    font-size: 0.7777777777777778em; }
.department1 .content, .department2 .content, .department3 .content, .department4 .content {
  width: 100%;
  border: 1px solid #FFFAFA;
  border-radius: 1.3333333333333333em;
  padding: 0.8888888888888888em 1.3333333333333333em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 0.4444444444em; }
.department1 .strong, .department2 .strong, .department3 .strong, .department4 .strong {
  font-size: 1.3333333333333333em;
  background-image: linear-gradient(90deg, #bf3131 0%, #692e2e 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800; }
.department1 .span, .department2 .span, .department3 .span, .department4 .span {
  font-size: 0.8888888888888888em;
  font-weight: 700;
  color: #8E8E8E; }
.department1 .how, .department2 .how, .department3 .how, .department4 .how {
  max-width: 44.44444444444444em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8888888889em;
  text-align: center; }
.department1 .group, .department2 .group, .department3 .group, .department4 .group {
  width: 80%;
  margin-top: 1.3333333333333333em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.7777777778em; }
.department1 .step, .department2 .step, .department3 .step, .department4 .step {
  max-width: 580px;
  display: grid;
  gap: 0;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: auto;
  height: 41.111111111111114em; }
.department1 .ul, .department2 .ul, .department3 .ul, .department4 .ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0; }
  .department1 .ul--2, .department2 .ul--2, .department3 .ul--2, .department4 .ul--2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 0; }
  .department1 .ul--3, .department2 .ul--3, .department3 .ul--3, .department4 .ul--3 {
    list-style-type: disc;
    font-size: 0.8888888888888888em; }
  .department1 .ul--responsive, .department2 .ul--responsive, .department3 .ul--responsive, .department4 .ul--responsive {
    display: none; }
.department1 .li, .department2 .li, .department3 .li, .department4 .li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.2222222222em;
  text-align: center; }
.department1 .circle, .department2 .circle, .department3 .circle, .department4 .circle {
  width: 2.7777777778em;
  height: 2.7777777778em;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  border: 1px solid #CC5A5A;
  background-color: #CC5A5A; }
.department1 .icon, .department2 .icon, .department3 .icon, .department4 .icon {
  width: 1em; }
.department1 .b, .department2 .b, .department3 .b, .department4 .b {
  font-size: 0.8888888888888888em;
  color: #CC5A5A;
  margin-top: 0.2222222222222222em; }
.department1 .bar, .department2 .bar, .department3 .bar, .department4 .bar {
  width: 0.8333333333333334em;
  height: 100%;
  background: linear-gradient(180deg, #bf3131 0%, #692e2e 100%);
  border-radius: 1.3333333333333333em; }
.department1 .graphic, .department2 .graphic, .department3 .graphic, .department4 .graphic {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.4444444444em; }
.department1 .col1, .department2 .col1, .department3 .col1, .department4 .col1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.4444444444em; }
.department1 .col2, .department2 .col2, .department3 .col2, .department4 .col2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.4444444444em; }
.department1 .block, .department2 .block, .department3 .block, .department4 .block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.7777777778em; }
.department1 .div, .department2 .div, .department3 .div, .department4 .div {
  max-width: 12.777777777777779em;
  width: 100%;
  align-self: flex-start; }
.department1 .div .circle, .department2 .div .circle, .department3 .div .circle, .department4 .div .circle {
  border: none; }
.department1 .div img, .department2 .div img, .department3 .div img, .department4 .div img {
  width: auto; }
.department1 .line, .department2 .line, .department3 .line, .department4 .line {
  width: 2.6666666666666665em; }
  .department1 .line--2, .department2 .line--2, .department3 .line--2, .department4 .line--2 {
    height: 13.88888888888889em;
    object-fit: contain;
    width: auto; }
  .department1 .line--3, .department2 .line--3, .department3 .line--3, .department4 .line--3 {
    height: 23.88888888888889em;
    object-fit: contain;
    width: auto; }
@media (width < 1280px) {
  .department1 .graphic, .department2 .graphic, .department3 .graphic, .department4 .graphic {
    margin-top: 25px; }
  .department1 .graphic, .department2 .graphic, .department3 .graphic, .department4 .graphic, .department1 .col1, .department2 .col1, .department3 .col1, .department4 .col1, .department1 .col2, .department2 .col2, .department3 .col2, .department4 .col2 {
    flex-direction: column; }
  .department1 .col1, .department2 .col1, .department3 .col1, .department4 .col1 {
    gap: 1.7777777777777777em; }
  .department1 .block, .department2 .block, .department3 .block, .department4 .block {
    flex-direction: row; }
  .department1 .line, .department2 .line, .department3 .line, .department4 .line {
    transform: rotate(90deg); }
    .department1 .line--2, .department2 .line--2, .department3 .line--2, .department4 .line--2, .department1 .line--3, .department2 .line--3, .department3 .line--3, .department4 .line--3 {
      transform: rotate(90deg); } }
@media (width < 640px) {
  .department1 .step, .department2 .step, .department3 .step, .department4 .step {
    height: auto; }
  .department1 .group, .department2 .group, .department3 .group, .department4 .group {
    width: 100%; }
  .department1 .ul, .department2 .ul, .department3 .ul, .department4 .ul {
    display: none; }
    .department1 .ul--2, .department2 .ul--2, .department3 .ul--2, .department4 .ul--2 {
      display: none; }
    .department1 .ul--responsive, .department2 .ul--responsive, .department3 .ul--responsive, .department4 .ul--responsive {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;
      gap: 3.3333333333em; }
  .department1 .li, .department2 .li, .department3 .li, .department4 .li {
    max-width: 15.555555555555555em; }
  .department1 .block, .department2 .block, .department3 .block, .department4 .block {
    flex-direction: column; }
  .department1 .line--3, .department2 .line--3, .department3 .line--3, .department4 .line--3 {
    height: 12.777777777777779em; }
  .department1 .bar, .department2 .bar, .department3 .bar, .department4 .bar {
    width: 0.5555555555555556em; } }

.mission .container, .choose .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.4444444444em; }
.mission .h2, .choose .h2 {
  background-image: linear-gradient(90deg, #bf3131 0%, #692e2e 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
  padding-bottom: 24px;
  border-bottom: 1px solid #BF3131; }
.mission .p, .choose .p {
  font-size: 1.1111111111111112em;
  max-width: 44.44444444444444em;
  text-align: center; }

.header__container {
  padding: 0.8888888889em clamp(35px, calc(0.0881696429 * (100vw - 640px) + 35px), 114px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0; }
.header__logo {
  width: 4.722222222222222em; }
.header__div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.1111111111em; }
.header__ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.7777777778em; }
.header__a {
  font-weight: 700;
  transition: 0.3s; }
  .header__a:hover {
    color: #BF3131; }
.header__button {
  width: clamp(120px, calc(0.1004464286 * (100vw - 640px) + 120px), 210px);
  background: #BF3131; }
.header__language {
  position: relative; }
.header__combobox {
  background-color: #414141;
  border-radius: 0.8888888888888888em;
  padding: 0.3333333333333333em 0.4444444444444444em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.2222222222em;
  color: #CC5A5A;
  cursor: pointer;
  position: relative;
  z-index: 2; }
.header__collapse {
  position: absolute;
  left: 50%;
  width: 2.5em;
  height: 0px;
  transition: 0.3s;
  overflow: hidden;
  transform: translateY(8px) translateX(-50%); }
  .header__collapse--open {
    height: 4em; }
.header__li {
  background-color: #414141; }
  .header__li:nth-child(1) {
    border-radius: 0.8888888889em 0.8888888889em 0 0; }
  .header__li:nth-child(2) {
    border-radius: 0 0 0.8888888888888888em 0.8888888888888888em; }
.header__box {
  background-color: #414141;
  border-radius: 0.8888888888888888em;
  padding: 0.3333333333333333em 0.4444444444444444em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  opacity: 0.5;
  transition: 0.3s; }
  .header__box:hover {
    opacity: 1; }
.header__flags, .header__arrow {
  width: 1.3333333333333333em; }
@media (width < 768px) {
  .header__container {
    justify-content: center; }
  .header__div {
    display: none; } }

.hero__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0; }
.hero__col1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1.7777777778em; }
.hero__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1.3333333333em; }
.hero__span {
  font-size: 1.2222222222222223em;
  color: #8E8E8E; }
.hero__p {
  font-size: 1.2222222222222223em; }
.hero__picture {
  min-width: 16.666666666666668em; }
@media (width < 768px) {
  .hero__container {
    flex-direction: column-reverse; }
  .hero__picture {
    max-width: 16.666666666666668em;
    min-width: unset; } }

.footer {
  background: linear-gradient(90deg, #bf3131 0%, #692e2e 100%); }
  .footer__group {
    display: grid;
    gap: 11.1111111111em;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: auto;
    padding: 0.5555555556em clamp(40px, calc(0.0412946429 * (100vw - 640px) + 40px), 77px); }
  .footer__col {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 0.8888888889em; }
  .footer__b {
    font-weight: 600; }
  .footer__logo {
    width: 4.722222222222222em; }
  .footer__p {
    font-size: 0.7777777777777778em; }
  .footer__ul {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 0.8888888889em; }
  .footer__a {
    font-size: 0.8888888888888888em;
    border-bottom: 1px solid transparent;
    transition: 0.3s; }
    .footer__a:hover {
      border-bottom: 1px solid #FFFAFA; }
  .footer__email {
    border-radius: 1.3333333333333333em;
    border: 1px solid #FFFAFA;
    padding: 0.5555555555555556em;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 0.5555555556em;
    width: 100%; }
  .footer__icon {
    width: 1em; }
  .footer__input {
    width: 100%;
    font-size: 0.7777777777777778em; }
    .footer__input::placeholder {
      color: white; }
  @media (width < 1280px) {
    .footer__group {
      display: grid;
      gap: 2.7777777778em;
      grid-template-columns: auto auto;
      grid-template-rows: auto auto; }
    .footer__col:nth-child(1) {
      grid-column: span 2;
      text-align: center;
      align-items: center; } }
  @media (width < 640px) {
    .footer__group {
      display: grid;
      gap: 2.7777777778em;
      grid-template-columns: auto;
      grid-template-rows: auto auto auto;
      text-align: center; }
    .footer__col {
      align-items: center; }
      .footer__col:nth-child(1) {
        grid-column: unset; }
    .footer__ul {
      align-items: center; } }

.imagine {
  background: linear-gradient(90deg, #bf3131 0%, #692e2e 100%); }
  .imagine__container {
    display: flex;
    flex-direction: column;
    justify-content: unset;
    align-items: center;
    gap: 3.1111111111em; }
  .imagine__div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    gap: 0;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 clamp(40px, calc(0.0669642857 * (100vw - 640px) + 40px), 100px); }
  .imagine__simpleCard {
    width: 11.11111111111111em; }
  @media (width < 1280px) {
    .imagine__div {
      justify-content: center;
      gap: 3.888888888888889em; } }

.needUs {
  background: linear-gradient(90deg, #bf3131 0%, #692e2e 100%); }
  .needUs__container {
    display: flex;
    flex-direction: column;
    justify-content: unset;
    align-items: center;
    gap: 1.7777777778em; }
  .needUs__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.8888888889em; }
  .needUs__p {
    text-align: center;
    font-size: 1.1111111111111112em;
    width: 80%; }
  .needUs__div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    gap: 0;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 clamp(40px, calc(0.0669642857 * (100vw - 640px) + 40px), 100px); }
  .needUs__simpleCard {
    width: 11.11111111111111em; }
  @media (width < 1280px) {
    .needUs__div {
      justify-content: center;
      gap: 3.888888888888889em; }
    .needUs__p {
      width: 100%; } }

.map__container {
  display: grid;
  gap: 1.7777777778em;
  grid-template-columns: 1.3fr 1fr;
  grid-template-rows: auto;
  align-items: center; }
.map__div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1.7777777778em; }
.map__h2 {
  text-align: start;
  color: #CC5A5A; }
.map__ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1.3333333333em; }
.map__li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.8888888889em; }
.map__icon {
  width: 2.111111111111111em; }
.map__b {
  color: #CC5A5A; }
.map__p {
  font-size: 1.1111111111111112em; }
@media (width < 768px) {
  .map__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.7777777778em;
    text-align: center; }
  .map__img {
    max-width: 450px; }
  .map__div {
    align-items: center; }
  .map__ul {
    align-items: center; }
  .map__li {
    flex-direction: column; }
  .map__p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px; } }

.networks {
  background-color: #141414; }
  .networks__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.1111111111em; }
  .networks__title {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.8888888889em; }
  .networks__h2 {
    background-image: linear-gradient(90deg, #bf3131 0%, #692e2e 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800; }
  .networks__content {
    width: 100%;
    display: grid;
    gap: 0;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto; }
  .networks__div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 3.1111111111em; }
  .networks__ul {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 1.7777777778em; }
  .networks__button {
    background: linear-gradient(90deg, #bf3131 0%, #692e2e 100%); }
  .networks__picture {
    object-fit: cover;
    height: 38.888888888888886em;
    overflow: hidden;
    position: relative; }
  .networks__img {
    opacity: 0.4;
    transform: scaleX(-1);
    max-width: unset;
    width: auto;
    height: 100%;
    object-fit: cover;
    position: absolute;
    right: 0;
    top: 0; }
  @media (width < 1024px) {
    .networks__picture {
      position: absolute;
      z-index: -1; }
    .networks__img {
      width: 100%;
      height: auto; }
    .networks__content {
      grid-template-columns: 1fr;
      position: relative;
      overflow: hidden; } }
  @media (width < 640px) {
    .networks__picture {
      height: 100%; }
    .networks__img {
      width: auto;
      height: 100%;
      opacity: 0.2; }
    .networks__div {
      align-items: center; }
    .networks__ul {
      justify-content: center;
      align-items: center; } }

.why__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 64px; }
.why__ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: initial;
  gap: 40px;
  width: 90%; }
.why__button {
  background: linear-gradient(90deg, #bf3131 0%, #692e2e 100%); }
@media (width < 1280px) {
  .why__ul {
    justify-content: center;
    flex-wrap: wrap; } }

.revolutionize {
  background-color: #141414; }
  .revolutionize__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.2222222222em; }
  .revolutionize__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.4444444444em;
    text-align: center; }
  .revolutionize__h2 {
    background-image: linear-gradient(90deg, #bf3131 0%, #692e2e 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800; }
  .revolutionize__p--1 {
    font-size: 1.1111111111111112em; }
  .revolutionize__p--2 {
    font-size: 1.2222222222222223em;
    text-align: center;
    width: 60%; }
  .revolutionize__ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.7777777778em; }
  .revolutionize__li:nth-child(odd) {
    margin-top: 4.444444444444445em; }
  @media (width < 1024px) {
    .revolutionize__ul {
      flex-wrap: wrap; }
    .revolutionize__li:nth-child(odd) {
      margin-top: 0; } }
  @media (width < 640px) {
    .revolutionize__p--2 {
      width: 100%; }
    .revolutionize__li {
      margin-left: 2.2222222222222223em; }
      .revolutionize__li:nth-child(odd) {
        margin-top: 0;
        margin-left: 0;
        margin-right: 2.2222222222222223em; } }

.department1__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5555555556em; }

.department2 {
  background-color: #141414; }
  .department2__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5555555556em; }

.department4 {
  background-color: #141414; }
  .department4__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5555555556em; }

.discover__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2.2222222222em; }
.discover__col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 2.7777777778em;
  max-width: 475px; }
.discover__div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 0.8888888889em; }
.discover__h2 {
  text-align: start; }
.discover__button {
  background: linear-gradient(90deg, #bf3131 0%, #692e2e 100%); }
.discover__block {
  grid-column: span 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0; }
.discover__ul {
  display: grid;
  gap: 1.3333333333em;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto; }
.discover__li {
  width: 17.5em;
  height: 13.88888888888889em;
  text-align: start;
  align-items: end; }
  .discover__li .div {
    align-items: start; }
@media (width < 1280px) {
  .discover__container {
    flex-direction: column; }
  .discover__col {
    align-items: center;
    text-align: center; }
  .discover__h2 {
    text-align: center; } }
@media (width < 768px) {
  .discover__ul {
    grid-template-columns: 1fr; }
  .discover__li {
    width: 100%;
    max-width: 17.5em; }
  .discover__block {
    grid-column: span 1; }
  .discover__col {
    align-items: start;
    text-align: start; }
  .discover__h2 {
    text-align: start; } }

.dividerHome {
  background: linear-gradient(90deg, #bf3131 0%, #692e2e 100%); }
  .dividerHome .button {
    background-color: #FFFAFA;
    color: #BF3131; }

.impact__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3.1111111111em; }
.impact__h2 {
  background-image: linear-gradient(90deg, #bf3131 0%, #692e2e 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800; }
.impact__circle {
  width: 3.8888888889em;
  height: 3.8888888889em;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  border: 1px solid #CC5A5A; }
.impact__icon {
  width: 1em; }
.impact__div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4.7777777778em; }
.impact__h3 {
  font-size: 1.7777777777777777em;
  font-weight: 700; }
.impact__col1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.7777777778em;
  text-align: center; }
.impact__col2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.3333333333em; }
.impact__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3.1111111111em; }
@media (width < 768px) {
  .impact__div {
    flex-direction: column; }
  .impact__col2 {
    flex-direction: row;
    flex-wrap: wrap; } }

.comment__container {
  display: grid;
  gap: 0;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto; }
.comment__div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 0.8888888889em; }
.comment__h2 {
  background-image: linear-gradient(90deg, #bf3131 0%, #692e2e 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800; }
.comment__p {
  font-size: 1.2222222222222223em; }
.comment__circle {
  margin-top: 0.8888888888888888em;
  width: 3.1666666667em;
  height: 3.1666666667em;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  border: 1px solid #CC5A5A;
  border: 1px solid #FFFAFA; }
.comment__arrow {
  width: 1.6666666666666667em; }
.comment__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8888888889em; }
.comment__field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 0.8333333333em;
  width: 100%; }
.comment__label {
  font-size: 0.7777777777777778em; }
.comment__input, .comment__textarea {
  font-size: 0.7777777777777778em;
  width: 100%;
  border: 1px solid #FFFAFA;
  padding: 0.7142857142857143em;
  resize: none;
  border-radius: 0.5714285714285714em;
  transition: 0.3s;
  color: #8E8E8E; }
  .comment__input:focus, .comment__textarea:focus {
    border: 1px solid #CC5A5A;
    color: #FFFAFA; }
.comment__button {
  background: linear-gradient(90deg, #bf3131 0%, #692e2e 100%); }
@media (width < 1024px) {
  .comment__container {
    grid-template-columns: 1fr;
    gap: 2.2222222222222223em; }
  .comment__div {
    align-items: center;
    text-align: center; }
  .comment__circle {
    transform: rotate(90deg); } }

.contact {
  background-color: #141414; }
  .contact__container {
    display: grid;
    gap: 2.2222222222em;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto; }
  .contact__div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1.1111111111em; }
  .contact__h2 {
    background-image: linear-gradient(90deg, #bf3131 0%, #692e2e 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800; }
  .contact__p {
    font-size: 1.2222222222222223em; }
  .contact__block {
    margin-top: 1.8888888888888888em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 20px; }
  .contact__b {
    font-size: 1.7777777777777777em; }
  .contact__a {
    transition: 0.3s; }
    .contact__a:hover {
      color: #CC5A5A; }
  .contact__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.7777777778em; }
  .contact__field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 0.8333333333em;
    width: 100%; }
  .contact__label {
    font-size: 0.7777777777777778em; }
  .contact__input, .contact__textarea {
    font-size: 0.7777777777777778em;
    width: 100%;
    border: 1px solid #FFFAFA;
    padding: 0.7142857142857143em;
    resize: none;
    border-radius: 0.5714285714285714em;
    transition: 0.3s;
    color: #8E8E8E; }
    .contact__input:focus, .contact__textarea:focus {
      border: 1px solid #CC5A5A;
      color: #FFFAFA; }
  .contact__button {
    background: linear-gradient(90deg, #bf3131 0%, #692e2e 100%);
    width: 100%; }
  @media (width < 1024px) {
    .contact__container {
      grid-template-columns: 1fr; }
    .contact__div {
      align-items: center;
      text-align: center; }
    .contact__circle {
      transform: rotate(90deg); }
    .contact__block {
      align-items: center;
      text-align: center; } }

.heroSection__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 56px; }
.heroSection__h2 {
  background-image: linear-gradient(90deg, #bf3131 0%, #692e2e 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800; }
.heroSection__div {
  display: grid;
  gap: 32px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  align-items: center; }

/*# sourceMappingURL=style.css.map */
