
$white: #FFFAFA;
$black: #090808;
$gray: #141414;
$grayLight: #8E8E8E;

$primary: #BF3131;
$gradient-primary: linear-gradient(90deg, rgba(191,49,49,1) 0%, rgba(105,46,46,1) 100%);
$gradient-primary-vertical: linear-gradient(180deg, rgba(191,49,49,1) 0%, rgba(105,46,46,1) 100%);

$secondary: #222222;
$tertiary: #CC5A5A;

$shadow-btn: 0 0.5em 1.5em rgba(152, 47, 47, 0.25); //8 24