
$padding-x: 114px; //100px
$padding-x-mobile: 35px; //35px

$padding-y-t: 100px; 
$padding-y-b: 140px; 
$padding-y-t-mobile: 70px;
$padding-y-b-mobile: 110px;


// LETRAS

$heading1: 72px;
$heading1-mobile: 42px;

$heading2: 42px;
$heading2-mobile: 32px;
