
$padding-x: 114px; //100px
$padding-x-mobile: 35px; //35px

$padding-y-t: 100px; 
$padding-y-b: 140px; 
$padding-y-t-mobile: 70px;
$padding-y-b-mobile: 110px;


// LETRAS

$h1: 72px;
$h1-mobile: 45px;