
.comment {
    &__container {
        @extend %container;
        @include grid(0, 2, 1, 1fr, 1fr, auto);

    }

    &__background {
        @extend %background;
        bottom: 7.722222222222222em; //139
        left: -0.16666666666666666em; //-3
    }

    &__div {
        @include flex(0.8888888888888888em, column, center, start); //16
    }

    &__h2 {
        @extend %heading-1;
        @include h2-gradient(800)
    }

    &__p {
        font-size: 1.2222222222222223em; //22
    }

    &__circle {
        margin-top: 0.8888888888888888em; //16
        @include circle(3.1666666666666665em); //57
        border: 1px solid $white;
    }

    &__arrow {
        width: 1.6666666666666667em; //30
    }

    &__form {
        @include flex(0.8888888888888888em, column, center, center);//16
    }

    &__field {
        @include flex(0.8333333333333334em, column, center, start); //15
        width: 100%;
    }

    &__label {
        font-size: 0.7777777777777778em; //14
    }

    &__input, &__textarea {
        font-size: 0.7777777777777778em; //14
        width: 100%;
        border: 1px solid $white;
        padding: 0.7142857142857143em; //10
        resize: none;
        border-radius: 0.5714285714285714em; //8
        @include transition(0.3s);
        color: $grayLight;

        &:focus {
            border: 1px solid $tertiary;
            color: $white;
        }
    }

    &__button {
        @extend %button;
        @include background-linear-gradient();
    }

    // ! QUERIES

    @include laptop() {
        &__container {
            grid-template-columns: 1fr;
            gap: 2.2222222222222223em; //40
        }

        &__div {
            @include align-items(center);
            text-align: center;
        }

        &__circle {
            @include display(none);
            @include transform(rotate(90deg));
        }
    }
}