
.customers1 {
    &__container {
        @extend %container;
        @include flex(3.5555555555555554em, row, center, center); //64
    }

    &__background {
        @extend %background;
        bottom: 50%;
        left: 5.5em; //99
    }

    &__div {
        @include flex(1.7777777777777777em, column, center, start); //32
    }

    &__title {
        @include flex(0.4444444444444444em, column, center, start); //8
        max-width: 21.11111111111111em; //380
    }

    &__h2 {
        @extend %heading-2;
        @include h2-gradient(800);
        text-align: start;
    }

    &__p {
        font-size: 1.1111111111111112em; //20
    }

    & .img {
        height: $height-card; //258
        opacity: 0.25;
        @include transition(0.3s);
        border-radius: 8px;
    }

    & .splide {
        //width: 53.44444444444444em; //962
        width: 46.22222222222222em; //832
        position: static;
    }

    & .splide__track {
        padding: 150px;
        margin-left: -1.8888888888888888em !important; //34
        padding-bottom: 4em; //72
    }

    & .splide__list {
        gap: 1.8888888888888888em; //34
        @include align-items(center);
        height: $height-card-hover; //508
    }

    & .splide__slide {
        width: $width-card !important; //192
        @include transition(0.3s);

        &:nth-child(3n+1) {
            width: $width-card-hover !important; //380
        
            & .img {
                height: $height-card-hover; //508
                opacity: 1;
            }
        }

        &:nth-child(3n+1).highlight {
            width: $width-card !important; //192

            & .img {
                height: $height-card; //258
                opacity: 0.25;
            }
        }

        &:hover {
            width: $width-card-hover !important; //380

            & .img {
                height: $height-card-hover; //508
                opacity: 1;
            }
        }
    }

    & .splide__arrow {
        @include display(none);
    }

    & .splide__pagination  .is-active {
        background-color: $primary;
    }

    & .splide__pagination__page {
        background-color: $darkRed;
    }

    & .splide__pagination {
        @include transform(translate(0.8333333333333334em, -13.88888888888889em)); //15 250
        @include justify-content(start);
        padding-left: size($padding-x-mobile, $padding-x);
        bottom: unset;
    }

    & .highlight {
        width: $width-card !important; //192

        & .img {
            height: $height-card; //258
            opacity: 0.25;
        }
    }

    // ! QUERIES

    @include desktop() {
        &__container {
            @include flex-direction(column);
        }

        &__title {
            text-align: center;
            @include align-items(center);
        }

        &__h2 {
            text-align: center;
        }

        & .splide {
            width: $cus1-calculated-width-desktop;
        }

        & .splide__track {
            padding-top: 1.6666666666666667em; //30
        }

        & .splide__pagination { 
            @include transform(translate(0, 0)); //250
            @include justify-content(center);
            padding-left: 0;
        }

        & .splide__list {
            height: $height-card-mediano;
        }

        & .splide__slide {
            width: $width-card !important;

            & .img {
                opacity: 0.25;
                height: $height-card-mediano;
            }
    
            &:nth-child(3n+1) {
                width: $width-card !important; //192
            
                & .img {
                    height: $height-card-mediano;
                    opacity: 0.25;
                }
            }

            &:nth-child(3n+1).highlight {
                width: $width-card !important; //192
    
                & .img {
                    height: $height-card-mediano;
                    opacity: 0.25;
                }
            }
    
            &:hover {
                width: $width-card !important; //192
    
                & .img {
                    height: $height-card-mediano;
                    opacity: 1;
                }
            }

            //

            &.is-active .img {
                opacity: 1 !important;
            }

            &.is-next .img {
                opacity: 1 !important;
            }
        }

        & .splide__track {
            padding-top: 0; //0
        }
    }
    
    @include mobile() {
        & .splide {
            width: $calculated-width-mobile;
        }

        & .splide__slide {
            width: 13.88888888888889em !important; //250

            &:nth-child(3n+1) {
                width: 13.88888888888889em !important; //250
            }
        }
    }

}