
.discover {
    &__container {
        @extend %container;
        @include flex(2.2222222222222223em, row, space-between, center); //40
    }

    &__background {
        @extend %background;
        top: 10em; //180
        left: 2.388888888888889em; //43
    }

    &__col {
        @include flex(2.7777777777777777em, column, center, start); //50
        max-width: 475px;
    }

    &__div {
        @include flex(0.8888888888888888em, column, center, start); //16
    }

    &__h2 {
        @extend %heading-2;
        text-align: start
    }

    &__button {
        @extend %button;
        @include background-linear-gradient();
    }

    &__block {
        grid-column: span 2;
        @include flex(0, row, center, center);
    }

    &__ul {
        @include grid(1.3333333333333333em, 2, 2, 1fr, 1fr, auto, auto);//24
    }

    &__li {
        @extend %verticalCard;
        width: 17.5em; //315
        height: 13.88888888888889em; //250
        text-align: start;
        @include align-items(end);
        @include transition(0.4s);

        &:hover {
            @include transform(scale(1.1) !important);
        }

        & .div {
            @include align-items(start);
        }
    }

    @include desktop() {
        &__container {
            @include flex-direction(column);
        }

        &__col {
            @include align-items(center);
            text-align: center;
        }

        &__h2 {
            text-align: center;
        }
    }

    @include tablet() {
        &__ul {
            grid-template-columns: 1fr;
        }

        &__li {
            width: 100%;
            max-width: 17.5em; //315;
        }

        &__block {
            grid-column: span 1;
        }
    }
}