
.heroSection {

    transition: 1.5s !important;

    &__container {
        @extend %container;
        @include flex(56px, column, center, center); //56
    }

    &__background {
        @extend %background;
        bottom: 11.88888888888889em; //214
        left: -3.888888888888889em; //-70

        &--2 {
            @extend %background;
            top: 1.3333333333333333em; //24
            right: -3em; //-54
        }
    }

    &__h2 {
        @extend %heading-2;
        @include h2-gradient(800);
    }

    &__div {
        @include grid(32px, 2, 1, 1fr, 1fr, auto); //32
        align-items: center;
    }

    // ! QUERIES

    @include laptop() {
        &__div {
            display: flex;
            flex-direction: column;
        }

        &__img {
            display: none;
            max-width: 30.555555555555557em; //550
        }

        &__p {
            text-align: center;
        }
    }

    @include mobile() {
        &__p {
            text-align: center;
        }
    }
}