
.imagine {
    
    background: $gradient-primary;

    &__container {
        @extend %container;
        @include flex(3.111111111111111em, column, unset, center); //56
    }

    &__h2 {
        @extend %heading-2;
    }

    &__div {
        @include flex(0, row, space-between, start); //56
        flex-wrap: wrap;
        width: 100%;
        padding: 0 size(40px, 100px); //100
    }

    &__simpleCard {
        @extend %simpleCard;
        width: 11.11111111111111em; //200
        transition: 0.4s;

        &:hover {
            transform: scale(1.1) !important;
        }
    }

    @include desktop() {
        &__div {
            justify-content: center;
            gap: 3.888888888888889em;//70
        }
    }
}