
.networks {

    background-color: $gray;
    
    &__container {
        @extend %container;
        @include flex(3.111111111111111em, column, center, center);//56
    }

    &__title {
        text-align: center;
        @include flex(0.8888888888888888em, column, center, center); //16
    }

    &__h2 {
        @extend %heading-2;
        @include h2-gradient(800);
    }

    &__content {
        width: 100%;
        @include grid(0, 2, 1, 1fr, 1fr, auto);
    }

    &__div {
        @include flex(3.111111111111111em, column, center, start); //56
    }

    &__ul {
        @include flex(1.7777777777777777em, column, start, start) //32
    }

    &__li {
        @extend %horizontalCard;
        transition: 0.4s;

        &:hover {
            transform: scale(1.1) !important;
        }
    }

    &__button {
        @extend %button;
        background: $gradient-primary;
    }

    &__picture {
        object-fit: cover;
        height: 38.888888888888886em; //100
        overflow: hidden;
        position: relative;
    }

    &__img {
        opacity: 0.4;
        transform: scaleX(-1) translateY(-50%);

        max-width: unset;
        width: auto;
        height: 60%;
        object-fit: cover;

        position: absolute;
        right: 0;
        top: 50%;

    }

    // ! QUERIES

    @include laptop() {

        &__div {
            position: relative;
            z-index: 2;
        }

        &__picture {
            position: absolute;
            z-index: 1;
        }

        &__img {
            width: 100%;
            height: auto;
            transform: scaleX(-1);
            top: 0;
        }

        &__content {
            grid-template-columns: 1fr;
            position: relative;
            overflow: hidden;
        }
    }

    @include mobile() {
        &__picture {
            height: 100%;
        }

        &__img {
            width: auto;
            height: 100%;
            opacity: 0.2;
        }

        &__div {
            align-items: center;
        }

        &__ul {
            justify-content: center;
            align-items: center;
        }

    }
    
}