.hero {
    &__container {
        @extend %container;
        @include flex(0, row, center, center);
    }

    &__background {
        @extend %background;
        top: 10.166666666666666em; //183
        right: -4.111111111111111em; //-74

        &--2 {
            @extend %background;
            bottom: 207px; //207
            left: 0.8888888888888888em; //16
        }
    }

    // ! COLUMNA 01

    &__col1 {
        @include flex(1.7777777777777777em, column, center, start); //32
    }

    &__content {
        @include flex(1.3333333333333333em, column, center, start) //24
    }

    &__h1 {
        @extend %heading-1;
    }

    &__span {
        font-size: 1.2222222222222223em; //22
        color: $grayLight;
    }

    &__p {
        font-size: 1.2222222222222223em; //22
    }

    &__button {
        @extend %button;
    }

    &__picture {
        min-width: 16.666666666666668em; //300
    }

    // ! QUERIES

    @include tablet() {
        &__container {
            flex-direction: column-reverse;
            text-align: center;
        }

        &__col1 {
            align-items: center;
        }

        &__picture {
            max-width: 16.666666666666668em;  //300
            min-width: unset;
        }
    }
}