
%background {
    border-radius: 50%;
    background-color: rgba($color: $tertiary, $alpha: 1);
    width: size(150px, 253px); //253
    height: size(150px, 253px); //253
    filter: blur(150px); //30
    position: absolute;
    z-index: 1;
    opacity: 0.8;

}
