
%background {
    border-radius: 50%;
    background-color: #7d0909;
    width: size(150px, 253px); //253
    height: size(150px, 253px); //253
    filter: blur(8em); //144
    position: absolute;
    z-index: 1;
    opacity: 0.8;
}
