
%button {
    padding: 0.8888888888888888em 1.3333333333333333em; //16 24
    color: $white;
    border-radius: 1.3333333333333333em; //24
    font-weight: 700;
    box-shadow: $shadow-btn;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        opacity: .8;
    }
}