
%button {
    min-width: 11.666666666666666em; //210
    padding: 0.8888888888888888em 1.3333333333333333em; //16 24
    color: $white;
    border-radius: 1.3333333333333333em; //24
    font-weight: 700;
    @include box-shadow($shadow-btn);
    cursor: pointer;
    @include transition(0.3s);
    background: $primary;
    @include flex(0, row, center, center);

    &:hover {
        opacity: .8;
    }
}