
%cardSection {
    & .container {
        @extend %container;
        @include flex(3.111111111111111em, column, center, center); //56
    }

    & .title {
        @include flex(0, column, center, center);
    }

    & .h2 {
        @extend %heading-2;
        @include h2-gradient(800);
        padding-bottom: 24px;
        border-bottom: 1px solid $primary;
    }

    & .span {
        text-transform: uppercase;
        font-size: 0.8888888888888888em; //16
        color: $grayLight;
    }

    & .ul {
        max-width: 55.77777777777778em; //1004
        @include flex(0, row, center, start); //64
        @include flex-wrap(wrap);
        row-gap: 3.5555555555555554em; //64
        column-gap: 7.555555555555555em; //136
    }

    & .li {
        @extend %simpleCard;
        width: 13.555555555555555em; //244
        min-height: 10.11111111111111em; //182
        gap: 0.8888888888888888em; //16
        @include justify-content(start);
        @include transition(0.3s);

        &:hover {
            @include transform(scale(1.1));
        }
    }

    & .li .circle {
        border: 1px solid $tertiary;
        width: 3.888888888888889em; //70
        height: 3.888888888888889em; //70
    }

    & .icon {
        width: auto;

        &--left {
            @include transform(rotate(90deg));
        }
    }

    & .p {
        font-size: 0.8888888888888888em; //16
    }

    // ! QUERIES

    @include mobile() {
        & .li {
            width: 100%;
            max-width: 13.555555555555555em; //244
        }
    }
}