
%department {


    & .row {
        @include flex(1.7777777777777777em, column, center, center); //32
        width: 100%;
    }

    // ! TITLE

    & .title {
        text-align: center;
        @include flex(0.4444444444444444em, column, center, center); //8
    }
    
    & .h2 {
        @extend %heading-2;
        @include h2-gradient(800);
    }

    & .h3 {
        @extend %heading-2;
        @include h2-gradient(800);
        font-size: 1.7777777777777777em; //32
        padding-bottom: 0.6666666666666666em; //12px
        border-bottom: 1px solid $primary;
    }

    & .p {
        font-size: 1.1111111111111112em; //20

        &--2 {
            font-size: 0.8888888888888888em; //16
        }

        &--3 {
            font-size: 1em; //18
        }

        &--4 {
            font-size: 0.7777777777777778em; //14
        }
    }


    // ! CONTENT

    & .content {
        width: 100%;
        border: 1px solid $white;
        border-radius: 1.3333333333333333em; //24
        padding: 0.8888888888888888em 1.3333333333333333em; //16 24
        @include flex(0.4444444444444444em, column, center, start); //8
    }

    & .strong {
        font-size: 1.3333333333333333em; //24
        @include h2-gradient(800);
    }

    & .span {
        font-size: 0.8888888888888888em; //16
        font-weight: 700;
        color: $grayLight;
    }

    // ! HOW

    & .how {
        max-width: 44.44444444444444em; //800
        @include flex(0.8888888888888888em, column, center, center); //16
        text-align: center;
    }

    // ! STEP 

    & .group {
        width: 80%;
        margin-top: 1.3333333333333333em; //24
        @include flex(1.7777777777777777em, column, center, center); //32
    }
    
    & .step {
        max-width: 580px; //580
        @include grid(0, 3, 1, 1fr, auto, 1fr, auto);
        height: 41.111111111111114em; //740
    }

    & .ul {
        @include flex(0, column, space-between, center);

        &--2 {
            @include flex(0, column, space-evenly, center);
        }

        &--3 {
            list-style-type: disc;
            font-size: 0.8888888888888888em; //16
        }

        &--responsive {
            display: none
        }
    }

    & .li {
        @include flex(0.2222222222222222em, column, center, center); //4
        text-align: center
    }

    & .circle {
        @include circle(2.7777777777777777em); //50
        background-color: $tertiary;
    }

    & .icon {
        width: 1em; //18
    }

    & .b {
        font-size: 0.8888888888888888em; //16
        color: $tertiary;
        margin-top: 0.2222222222222222em; //4
    }

    & .bar {
        width: 0.8333333333333334em; //15
        height: 100%;
        background: $gradient-primary-vertical;
        border-radius: 1.3333333333333333em; //24
    }

    // ! GRAFIC

    & .graphic {
        @include flex(0.4444444444444444em, row, center, center); //8
    }

    & .col1 {
        @include flex(0.4444444444444444em, row, center, center); //8
    }

    & .col2 {
        @include flex(0.4444444444444444em, row, center, center); //8
    }

    & .block {
        @include flex(2.7777777777777777em, column, center, center); //8
    }

    & .div {
        max-width: 12.777777777777779em; //230
        @extend %simpleCard;
        width: 100%;
        align-self: flex-start;
    }

    & .div .circle {
        border: none;
    }

    & .div img {
        width: auto;
    }

    & .line {
        width: 2.6666666666666665em; //48

        &--2 {
            height: 13.88888888888889em; //250
            object-fit: contain;
            width: auto;
        }

        &--3 {
            height: 23.88888888888889em; //430
            object-fit: contain;
            width: auto;
        }
    }

    // ! QUERIES

    @include desktop() {

        & .graphic {
            margin-top: 25px;
        }

        & .graphic, & .col1, & .col2 {
            flex-direction: column;
        }

        & .col1 {
            gap: 1.7777777777777777em; //32
        }

        & .block {
            flex-direction: row;
        }

        & .line {
            transform: rotate(90deg);

            &--2, &--3 {
                transform: rotate(90deg);
            }
        }

    }

    @include mobile() {

        & .step {
            height: auto;
        }

        & .group {
            width: 100%;
        }

        & .ul {
            display: none;
    
            &--2 {
                display: none;
            }
    
            &--responsive {
                @include flex(3.3333333333333335em, column, start, center); //60
            }
        }

        & .li {
            max-width: 15.555555555555555em; //280
        }

        & .block {
            flex-direction: column;
        }

        & .line {
            &--3 {
                height: 12.777777777777779em; //230
            }
        }

        & .bar {
            width: 0.5555555555555556em; //15
        }
    }

}