
%simpleCard {
    @include flex(0.4444444444444444em, column, center, center); //8
    text-align: center;

    & .circle {
        @include circle(2.7777777777777777em); //50
        padding: 0.7777777777777778em 0.6111111111111112em; //14 11
        border: 1px solid $white;
    }
    
}